@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  /*max-width: 100%;*/
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: '微軟正黑體', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* 版本更新時間：11/3 */
html {
  box-sizing: border-box;
  background-color: #FFF;
  font-family: "Microsoft JhengHei","Apple LiGothic Medium","PMingLiU";
}
html *, html *:after, html *:before {
  color: #000;
  box-sizing: inherit;
}
html img {
  width: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  background: #E3D5BD;
}

body {
  overflow-y: scroll;
}
body.scroll-hidden {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

#wrap {
  position: absolute;
  width: 100%;
  left: 0;
  padding-bottom: 70px;
  overflow: hidden;
  -moz-transition: all 0.25s ease-out 0s;
  -o-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.25s ease-out 0s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 72px;
  background-color: #ff7f66;
  width: 100%;
  min-width: 320px;
  box-sizing: content-box;
  z-index: 999;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
header h1 {
  text-align: center;
  height: 72px;
  line-height: 72px;
}
header h1 .logo {
  margin: 0 auto;
  font-size: 1.2em;
  letter-spacing: 1px;
  color: #FFF;
}
header h1 .subpage {
  position: relative;
  display: none;
  vertical-align: top;
  height: 45px;
}
header h1 .subpage span {
  display: inline-block;
  margin-top: 16px;
}
header.fix-header {
  top: 0 !important;
}

#menuBtn {
  z-index: 99;
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: url(../images/back_icon.png) no-repeat;
  background-size: cover;
}

.search-btn {
  z-index: 99;
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: url(../images/search.png) no-repeat;
  background-size: cover;
}

nav {
  position: fixed;
  top: 4500px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #161616;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  overflow-y: auto;
  z-index: 9999;
  opacity: 0;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
nav.show {
  top: 45px;
  opacity: 1;
  padding: 0 15px;
}
nav .panel-title {
  text-align: center;
}
nav .nav-logo {
  text-align: center;
}
nav .nav-logo a {
  background: url("../images/index/logo.png") 0 12px no-repeat;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 105px;
  height: 50px;
  padding: 12px 0;
  margin: 0 auto;
}
nav .panel-group li {
  width: 100%;
}
nav .panel-group li a {
  position: relative;
  display: block;
  z-index: 2;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  width: 100%;
  padding: 0;
  color: #999;
}
nav .panel-group li a:hover {
  color: #FFF;
}
nav .panel-group li:before {
  display: none;
}
nav .panel.open .caret {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
nav .caret {
  float: right;
  margin-top: 4px;
  width: 18px;
  height: 10px;
  background: url(../images/index/nav/arrow_g.png);
  border: none;
  -moz-transform: 0;
  -ms-transform: 0;
  -webkit-transform: 0;
  transform: 0;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav .panel-heading:hover .caret {
  background: url(../images/index/nav/arrow.png);
}
nav .other_link {
  margin-top: 20px;
  font-size: 0;
}
nav .other_link li {
  display: inline-block;
}
nav .other_link li a {
  display: block;
  padding: 3px 14px;
  font-size: 16px;
  color: #20589E;
}
nav .other_link li a:hover {
  opacity: .8;
}
nav .other_link li ~ li {
  border-left: 1px solid #444;
}

main::after {
  content: '';
  display: table;
  clear: both;
}

.video-content {
  margin: 0 auto;
}

.video {
  position: relative;
  padding-bottom: 62%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}
.video iframe, .video object, .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-ad {
  font-size: 0;
  padding-top: 10px;
  text-align: center;
  background: #1B1B1B;
}
.video-ad span {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 5px;
  font-size: 13px;
}

#owl-demo {
  margin-top: 35px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.owl-theme .owl-controls {
  margin-top: -26px;
}

.owl-pagination {
  position: relative;
  top: -50px;
}

.owl-theme .owl-controls .owl-page span {
  width: 8px;
  height: 8px;
  background: #666;
  opacity: .8;
}

.owl-theme .owl-controls .owl-page.active span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  background: #007AFF;
}

.menu {
  position: relative;
  height: 61px;
  z-index: -1;
  background: #272727;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.menu::after {
  content: '';
  display: table;
  clear: both;
}

.menu-swiper-container {
  background: #272727;
}
.menu-swiper-container .swiper-slide a {
  display: block;
  background: #272727;
  height: 60px;
  line-height: 60px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  width: 137px;
  font-size: 1.2em;
}
.menu-swiper-container .swiper-slide.active a, .menu-swiper-container .swiper-slide:hover a {
  border-bottom: 4px solid #428AE4;
}

.menu-swiper-container .swiper-slide {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dropBtn {
  position: fixed;
  z-index: 999;
  right: 0px;
  background: #222222 none repeat scroll 0% 0%;
}

#content .list, .content-right .list {
  position: relative;
  width: 49.1666666667%;
  float: left;
  margin-left: 0.4166666667%;
  margin-right: 0.4166666667%;
  margin-bottom: 10px;
  box-sizing: border-box;
  background: #1B1B1B;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#content .list img, .content-right .list img {
  width: 99.1666666667%;
  float: left;
  margin-left: 0.4166666667%;
  margin-right: 0.4166666667%;
  width: 100%;
  margin: 0;
}
#content .list .info, .content-right .list .info {
  padding: 0 5px 15px 5px;
  width: 99.1666666667%;
  float: left;
  margin-left: 0.4166666667%;
  margin-right: 0.4166666667%;
  width: 100%;
  margin: 0;
  background: #FFF;
  color: #838383;
}
#content .list .info h3, .content-right .list .info h3 {
  white-space: normal;
  overflow: hidden;
  text-align: justify;
  color: #838383;
  font-size: 20px;
  padding: 15px 10px 15px;
}
#content .list .list-icon, .content-right .list .list-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../images/like.png);
  background-size: cover;
  z-index: 1;
}
#content .list .view, .content-right .list .view {
  display: inline-block;
  font-size: 19px;
  margin-left: 10px;
  color: #838383;
}
#content .list .view span, .content-right .list .view span {
  color: #838383;
}
#content .list .share, .content-right .list .share {
  float: right;
  display: inline-block;
  margin-right: 10px;
  font-size: 19px;
  color: #838383;
}
#content .list .share span, .content-right .list .share span {
  color: #838383;
}
#content .list .share img, .content-right .list .share img {
  width: 13px;
}
#content .list a::after, .content-right .list a::after {
  content: '';
  display: table;
  clear: both;
}

[name="responsive_div"] {
  position: relative;
}
[name="responsive_div"] div {
  bottom: 0px !important;
  left: 0px !important;
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 100% !important;
  width: 100% !important;
  background-position: 50% 0px;
  background-size: cover;
}
[name="responsive_div"]::after {
  content: "" !important;
  display: block !important;
  padding-bottom: 52.3% !important;
}

.phone-icon {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  background: #ff7f66;
  font-size: 0;
  z-index: 999;
}
.phone-icon li {
  display: inline-block;
  width: 25%;
  text-align: center;
  vertical-align: top;
}
.phone-icon li .like .icon {
  top: 14px;
}
.phone-icon li .publication .icon {
  top: 15px;
}
.phone-icon li .social .icon {
  top: 14px;
}
.phone-icon li a {
  display: block;
  text-align: center;
  text-decoration: none;
  height: 55px;
}
.phone-icon li a .icon {
  position: relative;
  top: 11px;
  display: block;
  width: 25px;
  height: 25px;
  opacity: .5;
  margin: 0 auto 2px;
}
.phone-icon li a span {
  font-size: 11px;
  color: #979797;
}
.phone-icon li a:hover .icon, .phone-icon li a :active .icon, .phone-icon li a :focus .icon {
  opacity: 1;
}
.phone-icon li a:hover span, .phone-icon li a :active span, .phone-icon li a :focus span {
  color: #FFF;
}
.phone-icon::after {
  content: '';
  display: table;
  clear: both;
}

.loading .desktop {
  display: none;
  position: relative;
  margin: 0 auto 0;
  background: url(../images/index/loading.gif) no-repeat;
  width: 70px;
  height: 70px;
  background-size: cover;
  clear: both;
}
.loading .mobile {
  text-align: center;
  margin-bottom: 5px;
}

@keyframes rotate {
  0% {
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
footer {
  border-top: 1px solid #FFF;
  padding: 20px;
  text-align: center;
}

@media (min-width: 0) {
  html, body {
    min-width: 320px;
  }
}
body.active {
  overflow: hidden;
}
body.active #wrap {
  position: absolute;
  left: 200px;
}
body.active header {
  left: 200px;
}
body.active nav {
  left: 0;
}

@media (min-width: 768px) {
  .loading .mobile {
    display: none;
  }
  .loading .desktop {
    display: block;
  }
}
@media (min-width: 1024px) {
  .header-top {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  header h1 .logo {
    margin-left: 0;
  }

  .menu-swiper-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav {
    display: none;
  }

  .info-header .publication .info-icon {
    top: 8px;
  }
  .info-header .search {
    display: inline-block;
  }
  .info-header .sort {
    display: inline-block;
  }
  .info-header .user {
    display: inline-block;
  }
}
#accordion {
  padding: 6px 15px 10px;
}

.panel-heading {
  position: relative;
  padding: 0;
}

.panel-heading a {
  display: block;
  padding: 18px;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.panel-group {
  padding: 6px 7px 20px;
  background: #161616;
}

.panel-group a {
  color: #979797;
}

.panel-group a:hover {
  color: #FFF;
}

.small p {
  font-size: 4px;
}

.form-group {
  position: relative;
}

.form-group {
  margin-bottom: 5px;
}

.panel-default > .panel-heading {
  background: #161616;
}

.panel-group .panel {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #444;
  margin-bottom: 0;
  border-radius: 0px;
  background-color: #161616;
}

.panel-default > .panel-heading {
  color: #FFF;
  background-color: 161616;
  border-color: #ddd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #444;
  color: white;
  padding: 0;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body a {
  display: block;
  padding: 15px 0px 15px 30px;
}

.panel-group .panel + .panel {
  margin-top: 0px;
}

.nav-search-area {
  position: relative;
  width: 190px;
  margin: 10px auto 5px;
}

.nav-search-icon {
  position: absolute;
  left: -12px;
  top: 3px;
  width: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.nav-search {
  display: block;
  padding-left: 40px;
  border: none;
  width: 100%;
  height: 32px;
  margin-top: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #BBB;
}
.nav-search:focus, .nav-search :active {
  box-shadow: none;
}

.nav-list li {
  border-bottom: 1px solid #444;
}
.nav-list a {
  display: block;
  padding: 18px;
  color: #979797;
  font-size: 16px;
}
.nav-list a:hover {
  color: #FFF;
}

.footer li {
  margin-top: 5px;
  list-style: none;
}

.footer li img {
  margin: 0 auto;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}

.footer-copyright p {
  color: #979797;
}

@media (min-width: 768px) {
  .phone-icon {
    display: none;
  }
}
